In [1]:
!pip install markupsafe

Requirement already satisfied: markupsafe in c:\users\vigne\anaconda3\lib\site-packages (2.0.1)

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv(r"C:\Users\vigne\Downloads\Dataset\Dataset\data0\aug_test.csv")

In [3]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

In [4]:
from pathlib import Path
from ipywidgets import widgets
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file
# To get profile report
profile = ProfileReport(df,title='data',html={"style": {"full_width": True}},sort = None)
profile.to_widgets()
profile.to_file("output.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
df1 = pd.read_csv(r"C:\Users\vigne\Downloads\Dataset\Dataset\data0\aug_train.csv")

In [ ]:
profile1 = ProfileReport(df1,title='data',html={"style": {"full_width": True}},sort = None)
profile1.to_widgets()
profile1.to_file("output.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]